<html data-bs-theme="light" lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title                              -->
    <!-- ===============================================-->
    <title>Day 2 Session 3 | d2s3.com</title>

    <!-- ===============================================-->
    <!--    Favicons                                    -->
    <!-- ===============================================-->
    <meta name="theme-color" content="#ffffff">
    <script src="/static/assets/js/config.js"></script>
    <script src="/static/vendors/simplebar/simplebar.min.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets                                 -->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="/static/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="/static/assets/css/theme.css" rel="stylesheet" id="style-default">

  </head>
  <body>

    <!-- ===============================================-->
    <!--    Main Content                                -->
    <!-- ===============================================-->
    <main class="main" id="top">

      <div class="container" data-layout="container">
        <div class="row flex-center min-vh-100 py-6">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4"><a class="d-flex flex-center mb-4" href="/"><img class="me-2" src="/static/assets/img/worktable.png" alt="" width="58" /><span class="font-sans-serif text-primary fw-bolder fs-4 d-inline-block">d2s3</span></a>
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="row flex-between-center mb-2">
                  <div class="col-auto">
                    <h5>URL Shortner</h5>
                  </div>
                  <div class="col-auto fs-10 text-600"><span class="mb-0 undefined">or</span> <span><a href="#">Create an account</a></span></div>
                </div>

                <form method="POST">
                  <div class="mb-3">
                    <input class="form-control" type="url" name="url" placeholder="Enter a URL" required />
                </div>
                  <div class="mb-3">
                    <input class="form-control" name="custom_code" type="text" placeholder="Optional: Custom shortcode" />
                </div>
                  <div class="row flex-between-center">
                    <div class="col-auto">
                      <div class="form-check mb-0">
                        <input class="form-check-input" type="checkbox" id="basic-checkbox" checked="checked" />
                        <label class="form-check-label mb-0" for="basic-checkbox">Remember me</label>
                      </div>
                    </div>
                    <div class="col-auto"><a class="fs-10" href="#">Forgot Password?</a></div>
                  </div>
                  <div class="mb-3">
                    <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Shorten</button>
                  </div>
                </form>
                {% if short_url %}
                  <p>Shortened URL: <a href="{{ short_url }}" target="_blank">{{ short_url }}</a></p>
                {% endif %}
                {% if error %}
                  <p style="color: red;">{{ error }}</p>
                {% endif %}
        

                <div class="position-relative mt-4">
                  <hr />
                  <div class="divider-content-center">or log in with</div>
                </div>
                <div class="row g-2 mt-2">
                  <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
                  <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content                         -->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts                                 -->
    <!-- ===============================================-->
    <script src="/static/vendors/popper/popper.min.js"></script>
    <script src="/static/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/static/vendors/fontawesome/all.min.js"></script>
    <script src="/static/assets/js/theme.js"></script>

  </body>
</html>
